<h1>About This App </h1>

<p>
  This is a Ruby on Rails App made from a YouTube tutorial.
</p>

<p>
  In this page, I'm playing around with html, embedded Ruby (html.erb) and Ruby on Rails controllers.
</p>

<p>
  <!--The instance variables in this file are defined in app/controllers/home_controller.rb -->
  <%= @about_me %>
</p>

<p>
  2 + 2 = <%= @answer %>
</p>